<!-- Header -->
<header>
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
              <div class="intro-text">
                  <span class="name">Heba Abdelrazzak</span>
                  <hr class="star-light">
                  <span class="skills">{{ site.skills }}</span>
                  <div style="margin-top: 20px;">
                      <p style="color: #fff;">🚧 Portfolio Under Construction 🚧</p>
                      <a href="https://github.com/heba-razzak" class="btn btn-outline" style="margin-top: 10px;">
                        <i class="fa-brands fa-github"></i> View My GitHub Projects
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>